## Data Science Tools and Ecosystem

**Objectives:**
* List popular languages for Data Science
* simple arithmetic with python
* convert minutes to hours

## Author
Biswanath Samanta

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:

In [ ]:
lst=['Python', 'R', 'SQL', 'Java']
print(lst[2])

## data science libraries

## Some of the commonly used libraries used by Data Scientists include:

In [2]:
lst_2=['Pandas', 'NumPy', 'SciPy', 'Matplotlib']
print(lst_2[1])

NumPy

## table of Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

## Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
a=2
b=5
print(a*b)
print(a+b)

10
7

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=200/6
print(hours)

33.333333333333336